main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.word-display {
    margin: 20px;
    font-size: 24px;
    text-align: center;
}

main p {
    font-size: 2em;
    margin: 3vmin;
}
input {
    border: black 2px solid;
    margin-bottom: 3vmin;
}
button {
    margin-bottom: 0vmin;
}

#word-display {
    font-size: 2em;
}

#message {
    text-align: center;
}

#hangman {
    font-size: 1.5em;
    white-space: pre-wrap;
}
