.game-title {
    font-size: 2em;
    font-weight: 600;
    padding-right: 0.8vw;
}

.author-name {
    font-weight: 500;
}

main {
    text-align: center;
    margin-top: 5vw;
    width: 100vw;
    height: 60vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#gameCanvas {
    background-color: #8bc6ef;
}

footer {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section div {
    display: flex;
    justify-content: space-evenly;
}

section div p {
    padding-left: 5vmin;
    padding-right: 5vmin;
}
