.game-title {
    font-size: 2em;
    font-weight: 600;
    padding-right: 0.8vw;
}

.author-name {
    font-weight: 500;
}

main {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    position: fixed;

}

#gameCanvas {
    background-color: rgb(248, 166, 248);
}